<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zergling-run-right-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{68,60}</string>
                <key>spriteSourceSize</key>
                <string>{68,72}</string>
                <key>textureRect</key>
                <string>{{1,1},{68,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zergling-run-right-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{61,60}</string>
                <key>spriteSourceSize</key>
                <string>{61,72}</string>
                <key>textureRect</key>
                <string>{{71,1},{61,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>monster_run.png</string>
            <key>size</key>
            <string>{133,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:400edf079d8536ec5f3493680947857f:bb83c5a64e29add4ac1e0c79d512fca2:3f471cf4a520c7229ae815c46bb49f10$</string>
            <key>textureFileName</key>
            <string>monster_run.png</string>
        </dict>
    </dict>
</plist>
