<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>marine-run-right-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{65,66}</string>
                <key>spriteSourceSize</key>
                <string>{65,72}</string>
                <key>textureRect</key>
                <string>{{65,1},{65,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>marine-run-right-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{62,67}</string>
                <key>spriteSourceSize</key>
                <string>{62,79}</string>
                <key>textureRect</key>
                <string>{{1,1},{62,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>marine-run-right-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,72}</string>
                <key>textureRect</key>
                <string>{{132,1},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player_run.png</string>
            <key>size</key>
            <string>{197,69}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34a4955a79f78fb7ae711995e769246b:c0bd969e1a4897b913d6044da4da8e3a:999794ff76f7baecafa41e2ec4238131$</string>
            <key>textureFileName</key>
            <string>player_run.png</string>
        </dict>
    </dict>
</plist>
