<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>marine-reload-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{53,64}</string>
                <key>spriteSourceSize</key>
                <string>{53,72}</string>
                <key>textureRect</key>
                <string>{{1,1},{53,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>marine-reload-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{53,64}</string>
                <key>spriteSourceSize</key>
                <string>{53,70}</string>
                <key>textureRect</key>
                <string>{{1,67},{53,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player_reload.png</string>
            <key>size</key>
            <string>{55,132}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47ef4aa3b400ac489272e9460244d37b:11e1d459fb4edf4c78c225cbcbac3f0e:d3cb9e1da0a9f638e6c98dc90656b551$</string>
            <key>textureFileName</key>
            <string>player_reload.png</string>
        </dict>
    </dict>
</plist>
